<a href="https://colab.research.google.com/github/jon890613/AI_security/blob/master/%E5%8F%97%E9%9B%A3%E6%97%A5day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
print("pandas version: %s" % pd.__version__)

import matplotlib
print("matplotlib version: %s" % matplotlib.__version__)

import numpy as np
print("numpy version: %s" % np.__version__)

import sklearn
print("scikit-learn version: %s" % sklearn.__version__)

import tensorflow as tf
print("tensorflow version: %s" % tf.__version__)

import torch
print("PyTorch version: %s" %torch.__version__)
print("2020年3月PyTorch version最新版本 是1.4 請參閱https://pytorch.org/")

import base64

pandas version: 1.0.5
matplotlib version: 3.2.2
numpy version: 1.18.5
scikit-learn version: 0.22.2.post1
tensorflow version: 2.3.0
PyTorch version: 1.6.0+cu101
2020年3月PyTorch version最新版本 是1.4 請參閱https://pytorch.org/

In [ ]:
x = input('Enter your name:')
print('Hello, ' + x)

Enter your name:wei
Hello, wei

In [ ]:
a = input("請輸入：")
a

請輸入：123

'123'

In [ ]:
type(a)

str

In [ ]:
a = eval(input("請輸入：")) #eval or int
a
b=a+1
b

請輸入：121

122

In [ ]:
a,b = eval(input("請輸入兩個數位："))
a,b

請輸入兩個數位：123,456

(123, 456)

In [ ]:
x, y, z = [int(x) for x in input("Enter three value: ").split()] #split()劃分 
print("First Number is: ", x) 
print("Second Number is: ", y) 
print("Third Number is: ", z) 
print()

x, y, z = [int(x) for x in input("Enter three value: ").split(",")] 
print("First Number is: ", x) 
print("Second Number is: ", y) 
print("Third Number is: ", z) 
print()

a, b = input("Enter a two value: ").split() 
print("First number is {} and second number is {}".format(a, b)) 
print()

Enter three value: 123 456 678
First Number is:  123
Second Number is:  456
Third Number is:  678

Enter three value: 123,456,678
First Number is:  123
Second Number is:  456
Third Number is:  678

Enter a two value: 134 65
First number is 134 and second number is 65

In [ ]:

str1 = '這是字串'
print(str1)

str2 = "這也是字串"
print(str2)

str3 = 'allows embedded "double" quotes'
print(str3)

這是字串
這也是字串
allows embedded "double" quotes

In [ ]:
var1 = 'Hello Python!'
 
print("var1[0]: ", var1[0])
print("var1[1:8]: ", var1[1:8])

var1[0]:  H
var1[1:8]:  ello Py

In [ ]:
 
str1 = 'Hello World!'

print("更新前的字串-> ", str1[:])
print("更新前的字串(也可以這樣寫)-> ", str1)
print("更新後的字串-> ", str1[:6] + 'Python!')

更新前的字串->  Hello World!
更新前的字串(也可以這樣寫)->  Hello World!
更新後的字串->  Hello Python!

In [ ]:
str4=str1 + str2
print(str4)

Hello World!這也是字串

In [ ]:
a='  Hello   '
b='  Python ! '

print(a+b) #  Hello    Python !  

print(a*2) #  Hello     Hello   

print(a[1:4])  # He

print("H" in a) #True

print("H" not in a)  #False

  Hello     Python !
  Hello     Hello
 He
True
False

In [ ]:
def reverse(s): 
    if len(s) == 0: 
        return s 
    else: 
        return reverse(s[1:]) + s[0] #重複呼叫reverse
      
  
#s = "HappyHackingDay"
s = "1234"

print ("The original string  is : ",end="") 
print (s)

print ("The reversed string(using recursion) is : ",end="") 
print (reverse(s))

The original string  is : 1234
The reversed string(using recursion) is : 4321

In [ ]:
str1='happy python day'
str2='    Oh!   '
str4=str1 + str2
print(str4.capitalize()) #capitalize 首字母大寫
b = str4.encode("UTF-8")
e = base64.b64encode(b) ##錯誤
print(e)

Happy python day    oh!
b'aGFwcHkgcHl0aG9uIGRheSAgICBPaCEgICA='

In [ ]:
str5 = "Python2019"
print(str5.isalpha())  #isalpha判斷是否為全英文

str6 = "Python"
print(str6.isalpha())

False
True

In [ ]:
str7 = "Python2019"  #isalnum判斷是否全為英文或數字
print(str7.isalnum())

str8 = "Python"
print(str8.isalnum())

str9 = "2019"
print(str9.isalnum())

str10 = "Python 2019"
print(str10.isalnum())

True
True
True
False

In [ ]:
a = 33
b = 200

if b > a: #b>a True
  print("b is greater than a")

b is greater than a

In [ ]:
a = 33
b = 20

if b > a: #b>a False
  print("b is greater than a")

In [ ]:
a = 32
b = 33

if b > a: #b>a True
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

b is greater than a

In [ ]:
a = 33
b = 33
if b > a: #b>a False
  print("b is greater than a")
elif a == b:  #b==a True
  print("a and b are equal")

a and b are equal

In [ ]:
a = 35
b = 33

if b > a: #False
  print("b is greater than a")
elif a == b:  #False
  print("a and b are equal")

In [ ]:
a = 200
b = 33

if b > a: #False
  print("b is greater than a")
else: #上面沒有執行則執行else
  print("b is not greater than a")

b is not greater than a

In [ ]:
a = 200
b = 33

if b > a: #False
  print("b is greater than a")
elif a == b:  #False
  print("a and b are equal")
else: 
  print("a is greater than b")

a is greater than b

In [ ]:
year= eval(input("請輸入年"))

if ((year%400==0) or (year%4==0 and year%100!=0)):  #如果可以整除400或是整數4但不整除100則為閏年
  print("{0} 是閏年".format(year))
else:
  print("{0} 不是閏年".format(year))

請輸入年2000
2000 是閏年

In [ ]:
import time

date = time.localtime()	
print(date)

time.struct_time(tm_year=2020, tm_mon=9, tm_mday=16, tm_hour=7, tm_min=58, tm_sec=27, tm_wday=2, tm_yday=260, tm_isdst=0)

In [ ]:
year, month, day = eval(input("請輸入年月日"))
year, month, day

請輸入年月日2000,6,13

(2000, 6, 13)

In [ ]:
#計算那年已經過了幾天

date = time.localtime()		#取得目前的日期時間
year = date[0]
month = date[1]
day = date[2]

year, month, day = eval(input("請輸入年月日::"))
day_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]  #每個月天數

if year%400==0 or (year%4==0 and year%100!=0):	#如果可以整除400或是整數4但不整除100則為閏年
  day_month[1] = 29 #閏年二月多一天
if month==1:  #如果為一月則直接顯示天數  
    print(day)
else:
    print(sum(day_month[:month-1])+day) #否則月數-1 並加總 再加上天數

請輸入年月日::2000,6,13
165

In [ ]:
money = int(input("請輸入購物金額："))

if(money >= 10000):
    if(money >= 100000):
        print(money * 0.8, end=" 元\n")  #八折
    elif(money >= 50000):
        print(money * 0.85, end=" 元\n")  #八五折
    elif(money >= 30000):
        print(money * 0.9, end=" 元\n")  #九折
    else:
        print(money * 0.95, end=" 元\n")  #九五折
else:
    print(money, end=" 元\n")  #未打折

請輸入購物金額：10000
9500.0 元

In [ ]:
list1=range(10) #0~9
print(list1)

print(list(list1))  #存成list

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list2=range(-4,5) #-4~4
print(list(list2))

[-4, -3, -2, -1, 0, 1, 2, 3, 4]

In [ ]:
list3=range(-4,5,2)
print(list(list3))

[-4, -2, 0, 2, 4]

In [ ]:
list4=range(-4,6,2)
print(list(list4))

[-4, -2, 0, 2, 4]

In [ ]:
for n in range(5):  #把0~4依序丟進n 
  print(n)  #python會自動換行 不換行需加end=""<-顯示字串後面

0
1
2
3
4

In [ ]:
for n in range(10):
    print(n, end='@') #把@加在字串後，並不會換行

    #print(n, end='%%%%')

0@1@2@3@4@5@6@7@8@9@

In [ ]:
mysum = 0

for n in range(5):
  mysum += n  #mysum = mysum + n  累加
  print(mysum)

0
1
3
6
10

In [ ]:
mysum = 0

for n in range(5):
  mysum += n

print(mysum)  #在迴圈外只會顯示最終結果 如果再回圈內則迴圈執行一次就會顯示一次

In [ ]:
x = int(input("請輸入一個正整數:"))
mysum = 0

for n in range(x):
  mysum += n

print(mysum)

請輸入一個正整數:100
4950

In [ ]:
numbers = [21, 4, 35, 1, 8, 7, 3, 6, 9]
my_numbers = []

for number in numbers:
  if (number % 2 != 0): #如果除與2有餘數，則執行 代表指奇數則執行
    my_numbers.append(number) #append 為增加到指定list

print(my_numbers)

[21, 35, 1, 7, 3, 9]

In [ ]:
total = i = 1

n = int(input("請輸入正整數 n 的值："))

while(i<=n):  #如果i小於n則執行 代表n輸入多少就執行幾次 因為i每次增加1
    total *= i  #total = total * i
    i+=1      

print("%d!=%d" % (n, total))  # %d為顯示常數

請輸入正整數 n 的值：5
5!=120

In [ ]:
#檢查你輸入的水果是否存在list中
fruits = ["香蕉","蘋果","橘子","鳳梨","西瓜"]

while True:
    fruit = input("請輸入喜歡的水果(Enter 結束)：")

    if (fruit==""): #如果輸入為空則結束本迴圈
        break

    n = fruits.count(fruit) #計算輸入的水果在list出現幾次，1的話為已在list中
    if (n>0):  # 串列元素存在
        p=fruits.index(fruit)#index為顯示為第幾項
        print("%s 在串列中的第 %d 項" %(fruit,p+1))
    else:
        print(fruit,"不在串列中!")

請輸入喜歡的水果(Enter 結束)：香蕉
香蕉 在串列中的第 1 項
請輸入喜歡的水果(Enter 結束)：

In [ ]:
n = int(input("請輸入正整數："))

for i in range(1, n+1):
    if i % 5 ==0:
        continue  #跳過本次迴圈 只跳過這一次
    print(i,end=" ")

請輸入正整數：10
1 2 3 4 6 7 8 9

In [ ]:
for i in range(1,6):
    for j in range(1,5):
        for k in range(1,7):
            if( i != k ) and (i != j) and (j != k): #必須三個數字不重複才會顯示
                print(i,j,k)

1 2 3
1 2 4
1 2 5
1 2 6
1 3 2
1 3 4
1 3 5
1 3 6
1 4 2
1 4 3
1 4 5
1 4 6
2 1 3
2 1 4
2 1 5
2 1 6
2 3 1
2 3 4
2 3 5
2 3 6
2 4 1
2 4 3
2 4 5
2 4 6
3 1 2
3 1 4
3 1 5
3 1 6
3 2 1
3 2 4
3 2 5
3 2 6
3 4 1
3 4 2
3 4 5
3 4 6
4 1 2
4 1 3
4 1 5
4 1 6
4 2 1
4 2 3
4 2 5
4 2 6
4 3 1
4 3 2
4 3 5
4 3 6
5 1 2
5 1 3
5 1 4
5 1 6
5 2 1
5 2 3
5 2 4
5 2 6
5 3 1
5 3 2
5 3 4
5 3 6
5 4 1
5 4 2
5 4 3
5 4 6

In [ ]:
for x in range(19): #顯示0~18
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [ ]:
for x in range(0,19,2): #顯示0~18但每次跳2
  print(x)

0
2
4
6
8
10
12
14
16
18

In [ ]:
for x in range(20,11,-1):#顯示20~12 遞減1
,11,-1):#顯示20~12 遞減1
  print(x)

20
19
18
17
16
15
14
13
12

In [ ]:
for x in range(0,19,-1):  #***不會顯示
  print(x)

In [ ]:
output = ''

for x in range(0,19,3): #0~18每次跳3
  print(x, end=" ")

0 3 6 9 12 15 18

In [ ]:
list1 = range(0,19,3) #加在list中 

for x in list1:
  print(x, end=" ")

0 3 6 9 12 15 18

In [ ]:
i = int(input('淨利潤:'))

arr = [1000000,600000,400000,200000,100000,0]
rat = [0.01,0.015,0.03,0.05,0.075,0.1]
r = 0

for idx in range(0,6):  # 0~5依次放到idx
    if i>arr[idx]:  #如果淨利潤大於arr裡的數則執行
        r+=(i-arr[idx])*rat[idx]  
        print((i-arr[idx])*rat[idx])
        i=arr[idx]

print(r)

淨利潤:11111
1111.1000000000001
1111.1000000000001

In [ ]:
def sum(i1, i2):
    result = 0
    for i in range(i1, i2): #執行i1~(i2-1)次
        result += i #result累加
    return result #回傳結果result

def main():
    print("Sum from 1 to 10 is", sum(1, 11)) #呼叫sum函式，帶入1,11
    print("Sum from 20 to 37 is", sum(20, 38))
    print("Sum from 35 to 49 is", sum(35, 50))

main()  #呼叫maim

Sum from 1 to 10 is 55
Sum from 20 to 37 is 513
Sum from 35 to 49 is 630

In [ ]:
def swap(a,b):  #swap換數字
    a,b = b,a
    return (a,b)
 
if __name__ == '__main__':  #
    x = 10
    y = 20
    print('x = %d,y = %d' % (x,y))
    x,y = swap(x,y)
    print('x = %d,y = %d' % (x,y))

x = 10,y = 20
x = 20,y = 10

In [ ]:
def demo():
    """函數的文件字串123"""#三引號文字串列
    pass
    
print(demo.__doc__) 

def swap(a,b):
    """
    swap(a,b)功能是.................
    """ 
    a,b = b,a
    return (a,b)

print(swap(3,5))
print(swap.__doc__)

(5, 3)

    swap(a,b)功能是.................

In [ ]:
def sort(number1, number2):#number放較小的數字
    if number1 < number2:
        return number1, number2
    else:
        return number2, number1

num1, num2 = sort(31, 25)

print("num1 is", num1)
print("num2 is", num2)

num1 is 25
num2 is 31

In [ ]:
def printArea(width = 11, height = 12): #預設width 11 height 12
    area = width * height #area 計算面積
    print("width:", width, "\theight:", height, "\tarea:", area)  #\t 為Tab

printArea() 
printArea(4, 2.5) # Positional arguments width = 4 and height = 2.5
printArea(height = 5, width = 3) # Keyword arguments width 
printArea(width = 1.2) # Default height = 2
printArea(height = 6.2) # Default widht = 1

width: 11 	height: 12 	area: 132
width: 4 	height: 2.5 	area: 10.0
width: 3 	height: 5 	area: 15
width: 1.2 	height: 12 	area: 14.399999999999999
width: 11 	height: 6.2 	area: 68.2

In [ ]:
def hello_3(greeting='Hello', name='world'):  #預設greeting Hello name world
    print('{}, {}!'.format(greeting, name)) #format依序填入{}

    
hello_3() #Hello, world!
hello_3('Greetings') #Greetings, world!
hello_3('Greetings', 'universe')  #Greetings, universe!
hello_3(name='GGGGGGoood')  #Hello, GGGGGGoood

Hello, world!
Greetings, world!
Greetings, universe!
Hello, GGGGGGoood!

In [ ]:
params = {'name': 'Sir Simon Rattle', 'greeting': 'To my Great Conductor'}
hello_3(**params) # ** 一次傳2個

To my Great Conductor, Sir Simon Rattle!

In [ ]:
def print_params(*params): 
    print(params) 

print_params('Testing') 

print_params(1, 2, 3) 

# return的是tuple資料型態

# 可和一般參數齊用

def print_params_2(title, *params): 
    print(title) 
    print(params)

print_params_2('Params:', 1, 2, 3)
print_params_2('Nothing:')

('Testing',)
(1, 2, 3)
Params:
(1, 2, 3)
Nothing:
()

In [ ]:
def print_params_3(**params): 
    print(params) 

print_params_3(x=1, y=2, z=3) 

# return的是dict(字典資料型態)

def print_params_4(x, y, z=3, *pospar, **keypar): 
    print(x, y, z) 
    print(pospar) 
    print(keypar) 

print_params_4(1, 2, 4, 5, 6, 7, foo=1, bar=2)

print_params_4(1, 2)

{'x': 1, 'y': 2, 'z': 3}
1 2 4
(5, 6, 7)
{'foo': 1, 'bar': 2}
1 2 3
()
{}

In [ ]:
"""
變數的有效範圍(Scope)：變數在程式可參考的範圍。

區域變數(local variable):宣告在函式內部的變數

全域變數(global variables):宣告在所有函式外部的變數
"""

x = 111 #global

def f1(): #local
    x = 222
    print(x) 

f1()
print(x)

x = 1

def increase():
    global x  #呼叫全域變數
    x =  x + 1
    print(x) 

increase()
print(x)
increase()
increase()
print(x)

222
111
2
2
3
4
4

In [ ]:
f1 = lambda x, y, z: x+2*y+3*z
print(f1(2,3,1))

11

In [ ]:
def myfunc(m):
    return m*m

my_list = [1, 3, 5, 7, 9]
c = map(lambda x:myfunc(x), my_list)
print(list(c))

[1, 9, 25, 49, 81]

In [ ]:
def fib(n):
    if n==1 or n==2:
        return 1
    return fib(n-1)+fib(n-2)

print(fib(10))

55
55

In [ ]:
def fib(n):
    a,b = 1,1
    for i in range(n-1):
        a,b = b,a+b
    return a
 

print(fib(10))

55

In [ ]:
def age(x):
  x += 2
  return x

x = 10
for i in range(4):
  x = age(x)
print(x)

18

In [ ]:
def fib(x):	
	global numFibCalls
	numFibCalls += 1
	
	if x == 0 or x == 1:
           return 1
	else:
          return fib(x-1) + fib(x-2)

def testFib(n):
	for i in range(n+1):
          global numFibCalls
          numFibCalls = 0
          print('fib of', i, '=', fib(i))
          print('fib called', numFibCalls, 'times.')

testFib(4)

fib of 0 = 1
fib called 1 times.
fib of 1 = 1
fib called 1 times.
fib of 2 = 2
fib called 3 times.
fib of 3 = 3
fib called 5 times.
fib of 4 = 5
fib called 9 times.

In [3]:
print(hex(255)) #16進未轉成10進位

print(hex(-42))

"""### oct(x):Convert an integer number to an octal string prefixed with “0o”"""

print(oct(8)) #轉8進位

print(oct(-56))

"""### bin(x):Convert an integer number to a binary string prefixed with “0b”"""

print(bin(3)) #轉2進位

print(bin(-10))

0xff
-0x2a
0o10
-0o70
0b11
-0b1010